google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client 
pygame 
gtts 
openai 
opencv-python 
customtkinter 
tkinter-tooltip 
plyer 
screeninfo 
pillow 
pystray
tkcalendar
pytz