<config>
    
    <defualt_pet>Loki</defualt_pet>
    
    <force_topmost>true</force_topmost>
    
    <should_run_preprocessing>false</should_run_preprocessing>
    
    <pets>

        
        <pet name="Vaayu">
            <offset>50</offset>
            <bg_color>#ed1c24</bg_color>
            <resolution>
                <x>300</x>
                <y>300</y>
            </resolution>
        </pet>

        <pet name="Jerry">
            
            <offset>50</offset>
            
            <bg_color>#ffffff</bg_color>
            
            <resolution>
                <x>300</x>
                <y>300</y>
            </resolution>
        </pet>

        <pet name="Loki">
            
            <offset>50</offset>
            
            <bg_color>#ed1c24</bg_color>
            
            <resolution>
                <x>300</x>
                <y>300</y>
            </resolution>
        </pet>

    </pets>
</config>